<header class="py-4 relative">
      <div class="container">
        <div class="flex items-center justify-between">
          <div class="brand w-2/3 lg:w-[319px] xxl:ml-24">
            <a href="/" class="flex">
              <picture>
                <img src="/img/logo.svg" alt="Logo">
              </picture>
            </a>
          </div>
          <div class="main-menu hidden lg:block ">
            <ul class="flex items-center justify-center gap-4 xl:gap-8 xxl:mr-24">
              <li>
                <a href="#">Products</a>
              </li>
              <li>
                <a href="#">Company</a>
              </li>
              <li >
                <a href="#">Careers</a>
              </li>
              <li >
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>