@font-face{
	font-family: 'LexendDeca';
	src: url('/fonts/LexendDeca-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'LexendDeca';
	src: url('/fonts/LexendDeca-Light.ttf');
	font-weight: 300;
	font-display: swap;
}

@font-face{
	font-family: 'LexendDeca';
	src: url('/fonts/LexendDeca-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face{
	font-family: 'LexendDeca';
	src: url('/fonts/LexendDeca-ExtraBold.ttf');
	font-weight: 800;
	font-display: swap;
}