$white : #ffffff;
$grey : #373938;
$darkgrey : #979797;
$lightgrey : #F6F6F3;
$black : #000000;
$brown : #512511;
$darkbrown : #220D03;
$yellow : #FFAD15;
$green : #03572D;
$darkgreen: #85B223;
$blue : #87CEEB;